section.section.first-section#main-section
    .container
        h1.main-text
            | Онлайн/Оффлайн
            br
            | Здесь её знают, здесь ею учат.
        h2.second-text Педагоги Rony School каждый день обучают людей математике. Занимаются подготовкой к ОГЭ и ЕГЭ
        button.main-button.main-button_big Задать вопрос
section.section.second-section
    .container
        .title-name
            .title-name__subtitle Practice Advice
            .title-name__title Our Experts Teacher
            .title-name__small-title Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
        .small-cards
            .small-cards__card
                img.small-cards__image(src=require("../images/icon1.svg"), alt="Icon")
                .small-cards__title Books Liberary
                .small-cards__text The gradual  accumulation of information about
            .small-cards__card
                img.small-cards__image(src=require("../images/icon2.svg"), alt="Icon")
                .small-cards__title Books Liberary
                .small-cards__text The gradual  accumulation of information about
            .small-cards__card.small-cards__card_purple
                img.small-cards__image(src=require("../images/icon1.svg"), alt="Icon")
                .small-cards__title Books Liberary
                .small-cards__text The gradual  accumulation of information about
            .small-cards__card
                img.small-cards__image(src=require("../images/icon2.svg"), alt="Icon")
                .small-cards__title Books Liberary
                .small-cards__text The gradual  accumulation of information about
section.section.third-section#program
    .container
        .title-name
            .title-name__subtitle Courses
            .title-name__title Get Quality Education
            .title-name__small-title Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
        .big-cards
            .big-card
                .big-card__top
                    .big-card__title
                        span.big-card__red-title Sale
                    .big-card__button-list
                        ul.big-card__list-buttons
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-heart(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-solid.fa-cart-shopping(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-eye(aria-hidden='true')

                .big-card__bottom
                    .big-card__bottom-title
                        .big-card__bottom-text Welcome
                        .big-card__bottom-rating
                             i.fa-solid.fa-star(aria-hidden='true')
                             | 4.9
                    .big-card__content-text Books Liberary
                    .big-card__content-text_small We focus on ergonomics and meeting you....
                    .big-card__downloads
                        i.fa-solid.fa-download(aria-hidden='true')
                        | 15 Sales
                    .big-card__price $16.48
                        span.big-card__price_orange $6.48
                    button.big-card__learn-more Learn More
                        i.fa-solid.fa-chevron-right(aria-hidden='true')
            .big-card
                .big-card__top
                    .big-card__title
                        span.big-card__red-title Sale
                    .big-card__button-list
                        ul.big-card__list-buttons
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-heart(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-solid.fa-cart-shopping(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-eye(aria-hidden='true')
                .big-card__bottom
                    .big-card__bottom-title
                        .big-card__bottom-text Welcome
                        .big-card__bottom-rating
                            i.fa-solid.fa-star(aria-hidden='true')
                            | 4.9
                    .big-card__content-text Books Liberary
                    .big-card__content-text_small We focus on ergonomics and meeting you....
                    .big-card__downloads
                        i.fa-solid.fa-download(aria-hidden='true')
                        | 15 Sales
                    .big-card__price $16.48
                        span.big-card__price_orange $6.48
                    button.big-card__learn-more Learn More
                        i.fa-solid.fa-chevron-right(aria-hidden='true')

            .big-card
                .big-card__top
                    .big-card__title
                        span.big-card__red-title Sale
                    .big-card__button-list
                        ul.big-card__list-buttons
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-heart(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-solid.fa-cart-shopping(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-eye(aria-hidden='true')
                .big-card__bottom
                    .big-card__bottom-title
                        .big-card__bottom-text Welcome
                        .big-card__bottom-rating
                            i.fa-solid.fa-star(aria-hidden='true')
                            | 4.9
                    .big-card__content-text Books Liberary
                    .big-card__content-text_small We focus on ergonomics and meeting you....
                    .big-card__downloads
                        i.fa-solid.fa-download(aria-hidden='true')
                        | 15 Sales
                    .big-card__price $16.48
                        span.big-card__price_orange $6.48
                    button.big-card__learn-more Learn More
                        i.fa-solid.fa-chevron-right(aria-hidden='true')
            .big-card
                .big-card__top
                    .big-card__title
                        span.big-card__red-title Sale
                    .big-card__button-list
                        ul.big-card__list-buttons
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-heart(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-solid.fa-cart-shopping(aria-hidden='true')
                            li.big-card__list-button
                                button.big-card__button-item
                                    i.fa-regular.fa-eye(aria-hidden='true')
                .big-card__bottom
                    .big-card__bottom-title
                        .big-card__bottom-text Welcome
                        .big-card__bottom-rating
                            i.fa-solid.fa-star(aria-hidden='true')
                            | 4.9
                    .big-card__content-text Books Liberary
                    .big-card__content-text_small We focus on ergonomics and meeting you....
                    .big-card__downloads
                        i.fa-solid.fa-download(aria-hidden='true')
                        | 15 Sales
                    .big-card__price $16.48
                        span.big-card__price_orange $6.48
                    button.big-card__learn-more Learn More
                        i.fa-solid.fa-chevron-right(aria-hidden='true')
section.section.fourth-section#about
    .container.container_flex.fourth-section__container
        .graph
            img.graph__image(src=require("../images/children.png"), alt="Children")
        .graph-text
            .graph-text__line
            .graph-text__title Our Experts Teacher
            .graph-text__content Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
            a.graph-text__link(href="") Learn More
                i.fa-solid.fa-chevron-right(aria-hidden='true')
section.section.fifth-section#education
    .container.container_flex.fifth-section__container
        .graph-text
            .graph-text__line
            .graph-text__title Every Client Matters
            .graph-text__content Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
            a.graph-text__link(href="") Learn More
                i.fa-solid.fa-chevron-right(aria-hidden='true')
        .graph
            .graph__container
                button.graph__play-button
                    i.fa-solid.fa-play(aria-hidden='true')
section.section.sixth-section
    .container
        .title-name
            .title-name__subtitle Courses
            .title-name__title Get Quality Education
            .title-name__small-title Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
        .reviews
            .reviews__item
                img.reviews__avatar(src=require("../images/rev1.png"), alt="Avatar")
                p.reviews__text Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                .reviews__stars
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-regular.fa-star(aria-hidden='true')
                .reviews__name Regina Miles
                .reviews__role Designer
            .reviews__item
                img.reviews__avatar(src=require("../images/rev1.png"), alt="Avatar")
                p.reviews__text Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                .reviews__stars
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-solid.fa-star(aria-hidden='true')
                    i.fa-regular.fa-star(aria-hidden='true')
                .reviews__name Regina Miles
                .reviews__role Designer
section.section.seventh-section
    .container
        .title-name
            .title-name__subtitle Courses
            .title-name__title Get Quality Education
            .title-name__small-title Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
        .peoples
            .peoples__item
                img.peoples__avatar(src=require("../images/avatar1.png"), alt="Avatar")
                .peoples__about
                    .peoples__name Julian Jameson
                    .peoples__role Profession
                    .peoples__socials
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/facebook.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/instagram.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/twitter.svg"), alt="Icon")
            .peoples__item
                img.peoples__avatar(src=require("../images/avatar1.png"), alt="Avatar")
                .peoples__about
                    .peoples__name Julian Jameson
                    .peoples__role Profession
                    .peoples__socials
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/facebook.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/instagram.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/twitter.svg"), alt="Icon")
            .peoples__item
                img.peoples__avatar(src=require("../images/avatar1.png"), alt="Avatar")
                .peoples__about
                    .peoples__name Julian Jameson
                    .peoples__role Profession
                    .peoples__socials
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/facebook.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/instagram.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/twitter.svg"), alt="Icon")
            .peoples__item
                img.peoples__avatar(src=require("../images/avatar1.png"), alt="Avatar")
                .peoples__about
                    .peoples__name Julian Jameson
                    .peoples__role Profession
                    .peoples__socials
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/facebook.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/instagram.svg"), alt="Icon")
                        a.peoples__social(href="")
                            img.peoples__social-icon(src=require("../images/twitter.svg"), alt="Icon")
section.section.eighth-section
    .container
        .newsletter
            .newsletter__title Newsletter
            .newsletter__text Get Quality Education
            .newsletter__small-text Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
        .subscribe
            input.subscribe__input(type="text",placeholder="Your Email")
            button.subscribe__button Subscribe
section.section.ninth-section
    .container.container_contact
        .contact-container
            a.contact-container__link(href="") Company Info
            a.contact-container__link(href="") About Us
            a.contact-container__link(href="") Carrier
            a.contact-container__link(href="") We are hiring
            a.contact-container__link(href="") Blog
        .contact-container
            a.contact-container__link(href="") Company Info
            a.contact-container__link(href="") About Us
            a.contact-container__link(href="") Carrier
            a.contact-container__link(href="") We are hiring
            a.contact-container__link(href="") Blog
        .contact-container
            a.contact-container__link(href="") Company Info
            a.contact-container__link(href="") About Us
            a.contact-container__link(href="") Carrier
            a.contact-container__link(href="") We are hiring
            a.contact-container__link(href="") Blog
        .contact-container
            a.contact-container__link(href="") Company Info
            a.contact-container__link(href="") About Us
            a.contact-container__link(href="") Carrier
            a.contact-container__link(href="") We are hiring
            a.contact-container__link(href="") Blog
        .contact-container
            a.contact-container__link(href="") Company Info
            a.contact-container__link.contact-container__link_data(href="tel:(480) 555-0103")
                i.fa-solid.fa-phone(aria-hidden='true')
                | (480) 555-0103
            span.contact-container__link.contact-container__link_data
                i.fa-solid.fa-location-dot(aria-hidden='true')
                | 4517 Washington Ave. Manchester, Kentucky 39495
            a.contact-container__link.contact-container__link_data(href="mailto:jim@rock.com")
                i.fa-solid.fa-envelope(aria-hidden='true')
                | debra.holt@example.com
